.example-list {
    width: 500px;
    max-width: 100%;
    border: solid 1px #343434;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #0e0e0e;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: rgb(208, 255, 210);
    font-size: 14px;
  }

  .example-container {
    width: 400px;
    height: 200px;
    margin: 12px;
    border: 1px solid #555;
  }
  
  mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }